@model IEnumerable<Safari.Entities.Movimiento>

@{
    ViewBag.Title = "CtaCte";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Cuenta Corriente - @ViewData["Nombre"].ToString()</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoMovimientoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>
    
    
    @foreach (var item in Model)
    {
        if (item.TipoMovimientoId == 1)
        {
            <tr class="success active">
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoMovimientoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
            </tr>
        }
        else
        {
            <tr class="danger">
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoMovimientoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
            </tr>
        }
        @*<tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMovimientoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
        </tr>*@
    }

</table>


@*@Html.Label("", "TOTAL  " + ViewData["Total"].ToString(), new { @class="label label-warning"})*@

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">SALDO</h3>
    </div>
    <div class="panel-body">
        <span class="float-right">@ViewData["Total"].ToString()</span> 
    </div>
</div>