@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
<ul class="nav navbar-nav">
        <li>@Html.ActionLink("Citas", "Index", "Citas")</li>
      @*<li>@Html.ActionLink("Especie", "Index", "Especie")</li>
        <li>@Html.ActionLink("Medico", "Index", "Medico")</li>
        <li>@Html.ActionLink("Cliente", "Index", "Cliente")</li>
        <li>@Html.ActionLink("Paciente", "Index", "Paciente")</li>*@
</ul>
}
